/********** Template CSS **********/
:host {
    --primary: #FF001D;
}

* {
  font-family: "Manrope", sans-serif;
}

body {
    background-color: #141414;
    color: #000000;
}

.container-xxl {
    max-width: 1360px;
    padding: 0.75rem;
}

.border-radius {
    border-radius: 32px;
}

.box {
    padding: 80px;
}

.box:is(.box-sm) {
    padding: 40px;
}

.back-to-top {
    width: 50px;
    height: 50px;
    padding: 0px!important;
    font-size: 20px!important;
    bottom: 12px!important;
    border-radius: 10px!important;
    box-shadow: 0px 0px 8px 1px #0000002b;
}

@media only screen and (max-width: 991.98px) {
    .back-to-top {
        width: 40px;
        height: 40px;
        border-radius: 7px!important;
        padding: 0px!important;
        right: 10px!important;
        bottom: 10px!important;
    }
}

@media only screen and (max-width: 1199.98px) {
    .border-radius {
        border-radius: 16px;
    }
    .box {
        padding: 40px;
    }
    .box:is(.box-sm) {
        padding: 20px;
    }
}

@media only screen and (max-width: 991.98px) {
    .box {
        padding: 30px;
    }
    .box:is(.box-sm) {
        padding: 10px;
    }
}


.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Buttons ***/

.btn:not(.btn-banner) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn:not(.btn-sm, .btn-banner) {
    /* padding: 19px 46px; */
    padding: 19px;
    border-radius: 16px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

.btn:is(.btn-owl-nav) {
    padding: 0;
    width: 48px;
    height: 48px;
    font-size: 20px;
}

.btn-primary {
    background-color: #FF001D;
}

@media only screen and (max-width: 1199.98px) {
    .btn:not(.btn-sm, .btn-banner) {
        padding: 12px 32px;
    }
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Navbar ***/
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.navbar:is(.navbar-sticky) {
    position: fixed;
    background-color: #1E1E1E;
    transition: .5s;
}

.navbar-nav {
    gap: 18px;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 15px;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .container-xxl {
    border-bottom: 1px solid #282828;
    padding-top: 45px;
    padding-bottom: 45px;
}

.navbar:is(.navbar-sticky) .container-xxl {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 575.98px) {
    .navbar .container-xxl {
        padding-top: 5px;
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 991.98px) {
    .navbar .logo-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .navbar-collapse {
        background-color: #1e1e1e;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

@media (max-width: 1199.98px) {
    .navbar .container-xxl {
        padding-top: 15px;
        padding-bottom: 25px;
    }

    .navbar .navbar-brand {
        padding-right: 0!important;
        padding-left: 0!important;
    }

    .navbar .logo-wrapper .logo {
        width: 250px;
    }

    .navbar-nav {
        gap: 10px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .4rem;
        padding-left: .4rem;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        position: relative;
    }
}

/* Banner */
.banner-inner-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5.556vw;
}

.banner-inner-container h1 {
    color: #fff;
    font-family: 'Manrope';
    font-size: 3.472vw;
    font-style: normal;
    font-weight: 500;
    line-height: 3.872vw;
    margin-bottom: 5.894vw;
}

.banner-inner-container .banner-buttons {
    margin-bottom: 2.778vw;
}

.banner-inner-container .banner-buttons .btn {
    padding: 1.216vw 3.333vw;
    border-radius: 1.111vw;
    font-size: 1.250vw;
    font-weight: 600;
    line-height: 1.500vw;
}

@media only screen and (max-width: 767.98px) {
    .banner-bg {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    .banner-inner-container {
        padding: 40px 20px;
        position: relative;
        text-align: center;
    }

    .banner-inner-container h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .banner-inner-container h1 br {
        display: none;
    }

    .banner-inner-container .banner-buttons {
        margin-bottom: 0;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    .banner-inner-container .banner-buttons .btn {
        padding: 10px 19px;
        border-radius: 1.111vw;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        flex-grow: 1;
    }
}

/*** Flip Cards ***/
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front-side,
.flip-card-back-side {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back-side {
    transform: rotateY(180deg) translate(50%, 50%);
    position: absolute;
    left: 50%;
    top: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*** Services ***/

#services .flip-card .flip-card-front-side {
    height: 243px;
}

#services .flip-card .flip-card-front-side .flip-card-container {
    background-size: 245px;
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 100%;
    width: 100%;
    padding: 30px;
}

#services .flip-card .flip-card-front-side .flip-card-container:is(.is-new) {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr max-content;
}

#services .flip-card .flip-card-front-side .flip-card-container:not(.is-new) {
    display: grid;
    grid-template-rows: 1fr max-content;
}

#services .flip-card .flip-card-back-side .flip-card-container {
    padding: 40px;
}

#services .flip-card .flip-card-inner {
    background-color: #1E1E1E;
}

#services .flip-card .flip-card-inner:is(:hover) {
    background-color: #FF001D;
}

#services .flip-card .flip-card-inner * {
    color: #fff!important;
    margin: 0;
    font-weight: 500;
}

#services .flip-card-title,
#services .flip-card-price {
    font-size: 24px;
    text-shadow: 0 0 4px #000000;
}

#services .flip-card-new {
    height: max-content;
    width: max-content;
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    padding: 4px 8px;
    background-color: #FF001D;
    border-radius: 20px;
    text-transform: uppercase;
}

@media only screen and (max-width: 991.98px) {
    #services .flip-card .flip-card-front-side .flip-card-container {
        padding: 20px;
    }
    
    #services .flip-card .flip-card-back-side .flip-card-container {
        padding: 20px;
    }
}

/*** About Process ***/
#about-process h2 {
    color: #282828;
    font-style: normal;
    font-weight: 600;
}

#about-process .owl-nav {
    position: absolute;
    right: 80px;
    top: 80px;
    display: flex;
    gap: 10px;
}

#about-process .owl-nav .btn:not(:hover, :focus) {
    opacity: 0.8;
    background-color: transparent;
    border-color: transparent;
    color: #5C5C5C;
}

#about-process .owl-nav .btn:is(:hover, :focus) {
    border-color: #FF001D;
    background-color: #FF001D;
}

#about-process .process-image-container {
    height: 225px;
}

#about-process .process-title {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 34px;
}

#about-process .process-description {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

@media only screen and (min-width: 1200px) {
    #about-process h2 {
        font-size: 56px;
        font-weight: 600;
        line-height: 62px;
        margin-bottom: 43px;
    }

    #about-process .about-description {
        font-size: 30px;
        line-height: 33px;
        margin-bottom: 37px;
    }

    #about-process .process-title {
        margin-bottom: 33px;
    }
}

@media only screen and (max-width: 1199.98px) {
    #about-process .owl-nav {
        right: 40px;
        top: 40px;
    }

    #about-process .process-image-container {
        height: 165px;
    }

    #about-process .process-title {
        font-size: 20px;
        line-height: 28px;
    }

    #about-process .process-description {
        font-size: 14px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 991.98px) {
    #about-process .owl-nav {
        right: 30px;
        top: 30px;
    }
}

@media only screen and (max-width: 767.98px) {
    #about-process .owl-nav {
        position: relative;
        right: unset;
        left: unset;
        top: unset;
        justify-content: center;
    }
}

@media only screen and (max-width: 575.98px) {
    #about-process .process-image-container {
        height: auto;
        max-width: 100px;
        margin: 0 auto;
    }
}

#footer *:not(.btn) {
    color: #fff;
}

#footer h2 {
    font-style: normal;
    font-weight: 600;
}

#footer .ready-item-title {
    font-size: 18px;
    font-style: normal;
    line-height: 22px
}

@media only screen and (min-width: 1200px) {
    #footer h2 {
        font-size: 56px;
        line-height: 62px;
    }
}

@media only screen and (min-width: 992px) {
    #footer h2,
    #footer p,
    #footer address {
        margin-bottom: 22px;
    }

    #footer .col-ready-wrapper {
        max-width: 415px;
    }
}